{% extends "layout.html" %} {% block content %}

<div class="page-header">
  <h1>Welcome to Tess's writing database</h1>
</div>
<div id="project-list">
  <div class="col-md-3">

    <h3>Projects:</h3>
    <ul>
      {% for project in fics %}
      <li id={{project.id}}>

        <h4 class ='{{project.status}}'>{{project.title}}</h4>
        <p>Words: {{project.wordcount}}</p>
        <p><a href="/entries/{{project.urlTitle}}/add">Add Entry</a> <a href="/entries/{{project.urlTitle}}/">See All Entries</a></p>

      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-9">


  </div>
</div>
</div>

{% endblock %}
