html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
li {
  list-style-type: none;
}

#project-list {
  color: darkgrey;
}

form > .row {
  padding-bottom: 8px;
  padding-top: 8px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.in-progress {
  color: darkcyan;
}
.finished {
  color: darkgreen;
}
.abandoned {
  color: darkred;
}
.needs-edits {
  color: darkgoldenrod;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.content {
  margin-left: 60px;
}
.content .by {
  font-weight: bold;
}
.username a {
  color: #e56f09;
  font-weight: bold;
  font-size: 18px;
}

.table-date, .table-wordcount {
  padding: 10px;
}

.complete {
  color: green;
}
.abandoned {
  color: red;
}
.in-progress {
  color: darkcyan;
}
.needs-edits {
  color: darkgoldenrod;
}
